/* Cores */
:root {
  --verdeFundo: #9AEBA3;
  --branco: #F9F9F9;
}
/* Font */
/* font-family: 'DM Sans', sans-serif;
font-family: 'Poppins', sans-serif; */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;;
}
/* Classes com as cores de fundo */
.fundo-Verde{
  width: 100vw;
  background-color: var(--verdeFundo);
}
.fundo-Branco{
  width: 100vw;
  background-color: var(--branco);
}
/* Css reset */
/* Nav */
a{
  color: #000;
  border: none;
  text-decoration: none;
}
ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
#logo{
  border: none;
  color: inherit;
  text-decoration: none;
}

#logo h1{
  color: #161212;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

#pai-lista-nav{
  width: 300px;
  
}

#pai-lista-nav li a{
  text-decoration: none;
  color: inherit;
  border: none;
}

/* Textos da página */
#text-desafio{
  color: #161212;
  font-family: Poppins;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 52px; /* 130% */
  margin-top: 98px;
  margin-bottom: 20px;
}
#sub-desafio{
  color: #404040;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 20px;
}
.titulo-padrao{
  color: #161212;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px; /* 125% */
}
.paragrafo-padrao{
  color: #161212;
  font-family: Poppins;
  font-size: 22px;
  font-style: normal;
  font-weight: 475;
  line-height: 44px; /* 200% */
}
/* Botão do header */
.btn-quero{
  display: inline-flex;
  padding: 12px 32px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: none;
  border-radius: 8px;
  background: #FF5A33;
}
.btn-quero{
  color: #F9F9F9;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  text-decoration: none;
}
#text-pilares{
  color: #161212;
  font-family: Poppins;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 44px; /* 200% */
}
#section-beneficios h1{
  color: #161212;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px; /* 125% */
}
#section-beneficios p{
  color: #161212;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 44px; /* 220% */
}
.card-desafio{
  width: 362px;
  height: 567px;
  flex-shrink: 0;
  border: 1px solid #9AEBA3;
  background: #F9F9F9;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.card-desafio h1{
  color: #161212;
  font-family: Poppins;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px; /* 115.385% */
  padding: 40px 40px 28px 40px;
}
.card-desafio ul li p{
  color: #161212;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px; /* 150% */
}
.card-desafio button{
  border-radius: 8px;
  background: #FF5A33;
  display: flex;
  width: 247px;
  padding: 12px 32px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: none;
  margin: 0 auto;
}
.card-desafio .pai-botao-desafio{
  padding: 40px 58px 37px 57px;
}
.card-depoimento{
  width: 100%;
  height: auto;
  flex-shrink: 0;
  flex-shrink: 0;
  border-radius: 20px;
  border-radius: 20px;
}
.card-depoimento .col-9 h1{
  color: #000;
  font-family: Poppins;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.card-depoimento .col-9 h2{
  color: #000;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.card-depoimento .col-9 p{
  color: #000;
  font-family: Poppins;
  font-size: 17px;
  font-style: italic;
  font-weight: 400; 
  line-height: normal;
}
.icone-wpp{
  width: 90px;
  height: 90px;
  position: fixed;
  bottom: 15px;
  right: 30px;  
}
/* 
Breakpoint	Class infix	Dimensions
Extra small	None	<576px
Small	sm	≥576px
Medium	md	≥768px
Large	lg	≥992px
Extra large	xl	≥1200px
Extra extra large	xxl	≥1400px 
*/
@media (max-width: 576px) {
  #logo h1{
    font-size: 14px;
  }
  #pai-lista-nav li{
    font-size: 14px;
    width: 100%;
  }
  .card-desafio{
    width: 100%;
  }
  .card-desafio .pai-botao-desafio{
    padding: 15px 23px 4px 15px;
  }
  .card-desafio h1{
    font-size: 20px;
  }
  .card-desafio ul li p{
    font-size: 16px;
  }
  .btn-quero{
    padding: 8px 28px;
  }
  .btn-quero-text{
    font-size: 12px;
  }
  #text-desafio{
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 10px;
    line-height: 30px;
  }
  #sub-desafio{

  }
  .titulo-padrao{
    font-size: 18px;
  }
  .paragrafo-padrao{
    font-size: 16px;
    line-height: 38px;
  }
}

@media (min-width: 577px) and (max-width: 768px) {
  #text-desafio{
    font-size: 34px;
    margin-top: 30px;
  }
  #sub-desafio{

  }
  .titulo-padrao{
    font-size: 20px;
  }
  .paragrafo-padrao{
    font-size: 18px;
    line-height: 38px;
  }
}

@media (min-width: 769px) and (max-width: 992px) {
  #text-desafio{
    font-size: 34px;
    margin-top: 30px;
    margin-bottom: 20px;
  }
  #sub-desafio{

  }
  .titulo-padrao{
    font-size: 20px;
  }
  .paragrafo-padrao{
    font-size: 18px;
    line-height: 38px;
  }
}
@media (min-width: 993px) and (max-width: 1200px) {
  #text-desafio{
    font-size: 34px;
  }
  #sub-desafio{

  }
  .titulo-padrao{
    font-size: 20px;
    
  }
  .paragrafo-padrao{
    font-size: 18px;
    line-height: 38px;
  }
}
@media (min-width: 1201px) and (max-width: 1400px) {
  #text-desafio{
    font-size: 36px;
  }
  #sub-desafio{
    font-size: 16px;
  }
  .titulo-padrao{
    font-size: 22px;
  }
  .paragrafo-padrao{
    font-size: 20px;
  }
}

@media(min-width:1401px){
  #text-desafio{
    margin-top: 98px;
  }
}
#img-senhor-correndo{
  width: 500px;
}